<!-- partial for the customer detail page for creating, updating and displaying customers -->

<form class="form-horizontal" method="post"
	enctype="multipart/form-data" style="margin-top: 30px;"
	action="/rest/product/save">
	<div class="row">
		<div class="col-md-6">
			<fieldset>
				<legend ng-show="!!customer.id">
					Edit: {{ product.name }}<span class="subtle_text">#{{product.id}}</span>
				</legend>

				<legend ng-show="!product.id"> Create Gas Product </legend>

				<div class="control-group">
					<label class="control-label">name</label>
					<div class="controls">
						<input type="text" ng-model="product.name" class="form-control">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">price</label>
					<div class="controls">
						<input type="text" ng-model="product.price" class="form-control">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">volume</label>
					<div class="controls">
						<input type="text" ng-model="product.volume" class="form-control">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Product category</label>
					<div class="controls">
						<select ng-init="product.productCategory.name" ng-model="productCategories" ng-options="category.name for category in productCategories"></select>
					</div>
				</div>
				<div class="control-group" style="margin-top: 20px;">
					<div class="controls">
						<button type="submit" class="btn btn-primary">
							<span style="margin-right: 5px;" class="glyphicon glyphicon-save"></span>Save
						</button>
						<a href="#/product/list" class="btn btn-default"><span
							style="margin-right: 5px;" class="glyphicon glyphicon-log-out"></span>Cancel</a>
					</div>
				</div>

			</fieldset>
		</div>
	</div>
</form>